footer.footer
  .container.footer__container
      .footer__auth
      if (isAuth)
        a(href="/admin").title-name Админ
      else
        a(href="/login").title-name Авторизация
      .footer__social
        ul.social
          each item in social
            li.social__item
              a.social__link(href="http://")
                i(class=`fab ${item}`)